<div>
  <h3>Chat</h3>

    <select (change)="updateChat($event.target.value)">
      <option value="ch_1">CH_1</option>
      <option value="Default">Default</option>
      <option value="General">General</option>
    </select>

  <hr>



  <h4>Chat Verlauf</h4>
  <span>Du bist gerade in Channel {{currentChannel}}</span><br/>

    <input #message type="text" placeholder="Schreibe etwas..." (keyup.enter)="sendMessage(message.value)"/>

  <ol>
    <li *ngFor="let item of results"><b>{{item.name}} schreibt: </b>{{item.message}}</li>
  </ol>
</div>
